@font-face {
  font-family: '8bitoperator';
  src: local('8bitoperator'), url(./assets/8bitoperator_jve.woff) format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

a {
  color: #868686;
  text-decoration: none;
}

a:hover{
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  transform: scale(1.2);
  color: #e0e0e0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #2D3239;
  color: #e0e0e0;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.4vw;
}

/*****Header*****/
.header {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 15vh;
}

.header .left {
  flex: 3;
  margin-top: 9vh;
  margin-left: 10vw;
}

.top-left-frame {
  position: absolute;
  width: 8vw;
  height: 8vh;
  bottom: 2vh;
  left: 5vw;
}

.header .right {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  justify-content: flex-end;
  margin-top: 9vh;
  margin-right: 10vw;
  font-size: 2vw;
}

/*****Console*****/
.console {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.play-text {
  position: absolute;
  top: -7%;
  left: 5%;
}

.console-shell{
  width: 62vw;
  height: 58vh;
  background-color: #c5a787;
  box-shadow: 20px 10px 7px #1e1e1e;
  border-radius: 3vw;
}

.console-shell-relative{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.console-screen-border{
  width: 64.5%;
  height: 86.2%;
  background-color: #141414;
  box-shadow: 0px 0px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.3vw;
  position: relative;
}

.black-screen {
  background-color: black;
  width: 90%;
  height: 88%;
  box-shadow: 0px 0px 5px black;
}

.black-screen-hidden {
  display: none;
}

.boot-screen {
  background-color: #bfd2ff;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 2px black;
  font-size: 20px;
  text-align: center;
  animation: fadeinOn 3s linear forwards;
}

.boot-screen-hidden {
  display: none;
}

.scrolling-brand {
  width: inherit;
  height: inherit;
  animation: scrollY 3s linear forwards, fadeoutDelayed 3s linear 3s forwards;
  font-size: 2vw;
  color: #09132b;
}

.registered {
  vertical-align: bottom;
  font-size: 1.2vw;
  line-height: 7.5vh;
}

.console-brand {
  position: absolute;
  bottom: .2vh;
}

.console-menu {
  position: relative;
  background-color: #5a8bfc;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 2px black;
  animation: fadein 1s linear forwards;
}

.console-menu.off {
  animation: fadeoutOff .2s linear forwards;
}

.console-menu-hidden {
  display: none;
}

.console-battery {
  position: absolute;
  width: 2.1vw;
  height: 4.1vh;
  top: 1vh;
  right: 1.1vw;
}

.console-battery-warning {
  position: absolute;
  width: 2.1vw;
  height: 4.1vh;
  top: 1vh;
  right: 1.1vw;
  color: darkred;
  -webkit-animation: warning-blink 1s infinite;
}

.on-off-button {
  position: absolute;
  width: 2.6vw;
  height: 2.6vw;
  top: 5.1vh;
  right: 7.3vw;
  filter: drop-shadow(0px 0px 5px black);
  background-color: #3C3731;
  color: #1e1e1e;
  border-radius: 100%;
  padding: 0.5vw;
}

.on-off-button.highlighted {
  animation: buttonHighlighted .8s 3;
}

.on-off-button:hover {
  cursor: pointer;
}

.on-off-text {
  position: absolute;
  width: 3vw;
  height: 3vw;
  top: 6.8vh;
  right: 3.7vw;
  font-size: .9vw;
  color: #1e1e1e;
}

.joystick {
  position: absolute;
  left: 7%;
  top: 45%;
  filter: drop-shadow(0px 0px 5px black);
}

.triangle-left.highlighted {
  animation: leftTriangleHighlighted 2.4s 1;
}

.triangle-right.highlighted {
  animation: rightTriangleHighlighted 2.4s 1;
}

.triangle-top.highlighted {
  animation: topTriangleHighlighted 2.4s 1;
}

.triangle-bottom.highlighted {
  animation: bottomTriangleHighlighted 2.4s 1;
}

.triangle {
  position: absolute;
  width: 3vw;
  height: 3vw;
  background-color: #3C3731;
  padding: .4vw;
  color: #1e1e1e;
}

.triangle:hover {
  cursor: pointer;
}

.triangle-left {
  transform: rotate(90deg) translate(0, 3vw);
  padding-top: 1vh;
}

.triangle-right {
  transform: rotate(-90deg) translate(0, 3vw);
  padding-top: 1vh;
}

.triangle-top {
  transform: rotate(180deg) translate(0, 3vw);
  padding-top: 1vh;
}

.triangle-bottom {
  transform: translate(0, 3vw);
  padding-top: 1vh;
}

.circle {
  position: absolute;
  width: 3.1vw;
  height: 3.1vw;
  background-color: #3C3731;
  color: #1e1e1e;
  padding: 0.5vw;
}

.console-buttons {
  position: absolute;
  right: 11.5%;
  top: 45%;
}

.console-button {
  position: absolute;
  width: 3.2vw;
  height: 3.2vw;
  background-color: #3C3731;
  color: #1e1e1e;
  border-radius: 100%;
  filter: drop-shadow(0px 0px 5px black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Arial;
  font-size: 2vw;
}

.console-button:hover {
  cursor: default;
}

.button-b:hover {
  cursor: pointer;
}

.button-y {
  transform: translate(-3.2vw);
}

.button-a {
  transform: translate(3.2vw);
}

.button-x {
  transform: translate(0, -3.2vw);
}

.button-b {
  transform: translate(0, 3.2vw);
}

.button-b.highlighted {
  animation: buttonBHighlighted 0.8s 3;
}

.menu-button {
  position: absolute;
  top: 6vh;
  left: 7vw;
  width: 3vw;
  height: 2vh;
  background-color: #3C3731;
  color: #1e1e1e;
  border-radius: .5vw;
  filter: drop-shadow(0px 0px 5px black);
}

.menu-button.highlighted {
  animation: menuHighlighted .8s 3;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-text {
  position: absolute;
  top: 6.3vh;
  left: 3vw;
  font-size: .9vw;
  color: #101010;
}

/*****Footer*****/
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5vh;
  text-align: center;
}

.bottom-right-frame {
  position: absolute;
  width: 8vw;
  height: 8vh;
  right: 5vw;
  bottom: 2vh;
}

.footer p {
  font-size: .7vw;
}

/*****Animation*****/
@-webkit-keyframes warning-blink {
  0% {color: transparent}
  50% {color: darkred}
  100% {color: transparent}
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scrollY {
  from {
    top: translateY(0%);
  }
  to {
    transform: translateY(50%);
  }
}

@keyframes fadein {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes fadeinOn {
  0% {opacity: 0}
  20% {opacity: 1}
  100% {opacity: 1}
}

@keyframes fadeoutOff {
  0% {opacity: 1}
  100% {opacity: 0}
}

@keyframes fadeoutDelayed {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 0}
}

@keyframes buttonHighlighted {
  0% {transform: scale(1.0)}
  100% {transform: scale(1.3); filter: drop-shadow(0px 0px 10px white); color: rgba(255, 255, 255)}
}

@keyframes buttonBHighlighted {
100% {transform: translate(0, 3.2vw) scale(1.3); filter: drop-shadow(0px 0px 10px white); color: rgba(255, 255, 255)}
}

@keyframes topTriangleHighlighted {
  100% {transform: rotate(180deg) translate(0, 3vw); color: rgba(255, 255, 255)}
}

@keyframes bottomTriangleHighlighted {
  100% {transform: translate(0, 3vw); color: rgba(255, 255, 255)}
}

@keyframes leftTriangleHighlighted {
  100% {transform: rotate(90deg) translate(0, 3vw); color: rgba(255, 255, 255)}
}

@keyframes rightTriangleHighlighted {
  100% {transform: rotate(-90deg) translate(0, 3vw); color: rgba(255, 255, 255)}
}

@keyframes menuHighlighted {
  0% {transform: scale(1.0)}
  100% {transform: scale(1.3); filter: drop-shadow(0px 0px 10px white); color: rgba(255, 255, 255)}
}

@media (prefers-reduced-motion: no-preference) {
      /*.console-screen-border   {
    animation: logo-spin infinite 20s linear;
  }*/
}

/********************RESPONSIVENESS******************************/

@media screen and (min-width: 320px) and (max-width: 1080px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .page {
    height: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #2D3239;
    color: #e0e0e0;
    font-family: "Press Start 2P", sans-serif;
    font-size: 1.4vh;
  }

  /*****Header*****/
  .header {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 15vw;
  }

  .header .left {
    flex: 3;
    margin-top: 9vw;
    margin-left: 10vh;
  }

  .top-left-frame {
    position: absolute;
    width: 8vh;
    height: 8vw;
    bottom: 2vw;
    left: 5vh;
  }

  .header .right {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 2vh;
    justify-content: flex-end;
    margin-top: 9vw;
    margin-right: 10vh;
    font-size: 2vh;
  }

  /*****Console*****/
  .console {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .play-text {
    position: absolute;
    top: -7%;
    left: 5%;
  }

  .console-shell{
    width: 62vh;
    height: 58vw;
    background-color: #c5a787;
    box-shadow: 20px 10px 7px #1e1e1e;
    border-radius: 3vh;
  }

  .console-shell-relative{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .console-screen-border{
    width: 64.5%;
    height: 86.2%;
    background-color: #141414;
    box-shadow: 0px 0px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.3vh;
    position: relative;
  }

  .black-screen {
    background-color: black;
    width: 90%;
    height: 88%;
    box-shadow: 0px 0px 5px black;
  }

  .black-screen-hidden {
    display: none;
  }

  .boot-screen {
    background-color: #bfd2ff;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 2px black;
    font-size: 20px;
    text-align: center;
    animation: fadeinOn 3s linear forwards;
  }

  .boot-screen-hidden {
    display: none;
  }

  .scrolling-brand {
    width: inherit;
    height: inherit;
    animation: scrollY 3s linear forwards, fadeoutDelayed 3s linear 3s forwards;
    font-size: 2vh;
    color: #09132b;
  }

  .registered {
    vertical-align: bottom;
    font-size: 1.2vh;
    line-height: 7.5vw;
  }

  .console-brand {
    position: absolute;
    bottom: .2vw;
  }

  .console-menu {
    position: relative;
    background-color: #5a8bfc;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 2px black;
    animation: fadein 1s linear forwards;
  }

  .console-menu.off {
    animation: fadeoutOff .2s linear forwards;
  }

  .console-menu-hidden {
    display: none;
  }

  .console-battery {
    position: absolute;
    width: 2.1vh;
    height: 4.1vw;
    top: 1vw;
    right: 1.1vh;
  }

  .console-battery-warning {
    position: absolute;
    width: 2.1vh;
    height: 4.1vw;
    top: 1vw;
    right: 1.1vh;
    color: darkred;
    -webkit-animation: warning-blink 1s infinite;
  }

  .on-off-button {
    position: absolute;
    width: 2.6vh;
    height: 2.6vh;
    top: 5.1vw;
    right: 7.3vh;
    filter: drop-shadow(0px 0px 5px black);
    background-color: #3C3731;
    color: #1e1e1e;
    border-radius: 100%;
    padding: 0.5vh;
  }

  .on-off-button.highlighted {
    animation: buttonHighlighted .8s 3;
  }

  .on-off-button:hover {
    cursor: pointer;
  }

  .on-off-text {
    position: absolute;
    width: 3vh;
    height: 3vh;
    top: 6.8vw;
    right: 3.7vh;
    font-size: .9vh;
    color: #1e1e1e;
  }

  .joystick {
    position: absolute;
    left: 7%;
    top: 45%;
    filter: drop-shadow(0px 0px 5px black);
  }

  .triangle-left.highlighted {
    animation: leftTriangleHighlighted 2.4s 1;
  }

  .triangle-right.highlighted {
    animation: rightTriangleHighlighted 2.4s 1;
  }

  .triangle-top.highlighted {
    animation: topTriangleHighlighted 2.4s 1;
  }

  .triangle-bottom.highlighted {
    animation: bottomTriangleHighlighted 2.4s 1;
  }

  .triangle {
    position: absolute;
    width: 3vh;
    height: 3vh;
    background-color: #3C3731;
    padding: .4vh;
    color: #1e1e1e;
  }

  .triangle:hover {
    cursor: pointer;
  }

  .triangle-left {
    transform: rotate(90deg) translate(0, 3vh);
    padding-top: 1vw;
  }

  .triangle-right {
    transform: rotate(-90deg) translate(0, 3vh);
    padding-top: 1vw;
  }

  .triangle-top {
    transform: rotate(180deg) translate(0, 3vh);
    padding-top: 1vw;
  }

  .triangle-bottom {
    transform: translate(0, 3vh);
    padding-top: 1vw;
  }

  .circle {
    position: absolute;
    width: 3.1vh;
    height: 3.1vh;
    background-color: #3C3731;
    color: #1e1e1e;
    padding: 0.5vh;
  }

  .console-buttons {
    position: absolute;
    right: 11.5%;
    top: 45%;
  }

  .console-button {
    position: absolute;
    width: 3.2vh;
    height: 3.2vh;
    background-color: #3C3731;
    color: #1e1e1e;
    border-radius: 100%;
    filter: drop-shadow(0px 0px 5px black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Arial;
    font-size: 2vh;
  }

  .console-button:hover {
    cursor: default;
  }

  .button-b:hover {
    cursor: pointer;
  }

  .button-y {
    transform: translate(-3.2vh);
  }

  .button-a {
    transform: translate(3.2vh);
  }

  .button-x {
    transform: translate(0, -3.2vh);
  }

  .button-b {
    transform: translate(0, 3.2vh);
  }

  .button-b.highlighted {
    animation: buttonBHighlighted 0.8s 3;
  }

  .menu-button {
    position: absolute;
    top: 6vw;
    left: 7vh;
    width: 3vh;
    height: 2vw;
    background-color: #3C3731;
    color: #1e1e1e;
    border-radius: .5vh;
    filter: drop-shadow(0px 0px 5px black);
  }

  .menu-button.highlighted {
    animation: menuHighlighted .8s 3;
  }

  .menu-button:hover {
    cursor: pointer;
  }

  .menu-text {
    position: absolute;
    top: 6.3vw;
    left: 3vh;
    font-size: .9vh;
    color: #101010;
  }

  /*****Footer*****/
  .footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5vw;
    text-align: center;
  }

  .bottom-right-frame {
    position: absolute;
    width: 8vh;
    height: 8vw;
    right: 5vh;
    bottom: 2vw;
  }

  .footer p {
    font-size: .7vh;
  }

  /*****Animation*****/
  @-webkit-keyframes warning-blink {
    0% {color: transparent}
    50% {color: darkred}
    100% {color: transparent}
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes scrollY {
    from {
      top: translateY(0%);
    }
    to {
      transform: translateY(50%);
    }
  }

  @keyframes fadein {
    0% {opacity: 0}
    100% {opacity: 1}
  }

  @keyframes fadeinOn {
    0% {opacity: 0}
    20% {opacity: 1}
    100% {opacity: 1}
  }

  @keyframes fadeoutOff {
    0% {opacity: 1}
    100% {opacity: 0}
  }

  @keyframes fadeoutDelayed {
    0% {opacity: 1}
    50% {opacity: 0}
    100% {opacity: 0}
  }

  @keyframes buttonHighlighted {
    0% {transform: scale(1.0)}
    100% {transform: scale(1.3); filter: drop-shadow(0px 0px 10px white); color: rgba(255, 255, 255)}
  }

  @keyframes buttonBHighlighted {
  100% {transform: translate(0, 3.2vh) scale(1.3); filter: drop-shadow(0px 0px 10px white); color: rgba(255, 255, 255)}
  }

  @keyframes topTriangleHighlighted {
    100% {transform: rotate(180deg) translate(0, 3vh); color: rgba(255, 255, 255)}
  }

  @keyframes bottomTriangleHighlighted {
    100% {transform: translate(0, 3vh); color: rgba(255, 255, 255)}
  }

  @keyframes leftTriangleHighlighted {
    100% {transform: rotate(90deg) translate(0, 3vh); color: rgba(255, 255, 255)}
  }

  @keyframes rightTriangleHighlighted {
    100% {transform: rotate(-90deg) translate(0, 3vh); color: rgba(255, 255, 255)}
  }

  @keyframes menuHighlighted {
    0% {transform: scale(1.0)}
    100% {transform: scale(1.3); filter: drop-shadow(0px 0px 10px white); color: rgba(255, 255, 255)}
  }
}
