@font-face {
  font-family: '8bitoperator';
  src: local('8bitoperator'), url(./assets/8bitoperator_jve.woff) format('woff');
}

@font-face {
  font-family: 'gill-sans';
  src: local('gill-sans'), url(./assets/Gill-Sans.woff) format('woff');
}

@font-face {
  font-family: 'gill-sans-bold';
  src: local('gill-sans-bold'), url(./assets/Gill-Sans-Bold.woff) format('woff');
}

:root {
  --viewport-width: 1vw;
  --viewport-height: 1vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.scale-icon {
  color: #868686;
  text-decoration: none;
}

.scale-icon:hover{
  transition: all .5s;
  transform: scale(1.2);
  color: #e0e0e0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.page {
  height: calc(100 * var(--viewport-height));
  display: flex;
  flex-direction: column;
  background-color: #262b36;
  color: #e0e0e0;
  /*font-family: "Press Start 2P", sans-serif;*/
  font-family: "gill-sans;", sans-serif;
  font-size: calc(1.4 * var(--viewport-width));
}

/*****Header*****/
.header {
  position: relative;
  display: flex;
  flex-direction: row;
  height: calc(15 * var(--viewport-height));
}

.header .left {
  flex: 3;
  margin-top: calc(8.5 * var(--viewport-height));
  margin-left: calc(9 * var(--viewport-width));
}

.top-left-frame {
  position: absolute;
  width: calc(8 * var(--viewport-width));
  height: calc(8 * var(--viewport-height));
  bottom: calc(2 * var(--viewport-height));
  left: calc(5 * var(--viewport-width));
}

.logo {
  width: calc(2 * var(--viewport-width));
  cursor: pointer;
}

.header .right {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: calc(2 * var(--viewport-width));
  justify-content: flex-end;
  margin-top: calc(9 * var(--viewport-height));
  margin-right: calc(10 * var(--viewport-width));
  font-size: calc(2 * var(--viewport-width));
}

.icon {
  position: relative;
}

.popup-hidden {
  display: none;
}

.popup-visible {
  animation: fadein 1s;
  position: absolute;
  bottom: 125%;
  left: 50%;
  /*margin-left: calc(-4 * var(--viewport-width));
  width: calc(8 * var(--viewport-width));*/
  min-width: calc(8 * var(--viewport-width));
  background-color: #5e5e5e;
  color: #e0e0e0;
  text-align: center;
  border-radius: calc(1 * var(--viewport-width));
  padding: calc(0.5 * var(--viewport-width));
  z-index: 1;
  font-size: calc(1 * var(--viewport-width));
}

.popup-visible::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/*****Console*****/
.console {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 calc(10 * var(--viewport-width));
}

.play-text {
  position: absolute;
  font-size: calc(0.8 * var(--viewport-width));
  top: -10%;
  left: -5%;
}

.console-content-display-container  {
  flex: 2.5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "gill-sans", sans-serif;
  font-size: calc(1.5 * var(--viewport-width));
  line-height: calc(1.9 * var(--viewport-width));
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.veil {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #262b36;
  animation: reduce 0.5s forwards;
  z-index: 999;
}

.card-container {
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  margin-top: calc(11 * var(--viewport-width));
}

.flip-card {
  transform: rotateY(180deg);
}

.page-welcome-container, .about-content-display-container, .projects-content-display-container {
  display: flex;
  flex-direction: column;
  gap: calc(5 * var(--viewport-height));
  color: #c4bebb;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.projects-content-display-container{
  position: absolute;
  animation: slide 0.5s forwards;
}

.projects-content-display-container-hidden {
  opacity: 0;
  display: none;
}

.rotate-anim-front {
  animation: rotateFront 0.5s forwards;
}

.rotate-anim-back {
  animation: rotateBack 0.5s forwards;
}

.about-content-display-title, .projects-content-display-title {

}

.about-content-display-description,.projects-content-display-description {
  border-left: calc(0.7 * var(--viewport-height)) dotted #0e0e1b;
  padding-left: calc(2 * var(--viewport-width));
  white-space: pre;
}

.projects-content-display-title-hidden, .projects-content-display-description-hidden {
  display: none;
}

.projects-content-display-description button{
  border-bottom: calc(0.5 * var(--viewport-height)) solid #5c203c;
  padding-bottom: calc(0.5 * var(--viewport-height));
  padding-top: calc(2 * var(--viewport-height));
  font-size: calc(1.5 * var(--viewport-width));
  font-family: "gill-sans", sans-serif;
  color: #c4bebb;
}

.page-welcome-title {

}

.page-welcome-description {
  border-left: calc(0.7 * var(--viewport-height)) dotted #0e0e1b;
  padding-left: calc(2 * var(--viewport-width));
  white-space: pre;
}

.console-shell-container{
  flex: 1.5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.console-shell{
  width: calc(21 * var(--viewport-width));
  height: calc(62   * var(--viewport-height));
  padding: calc(1.5 * var(--viewport-width));
  background-color: #c4bebb;
  box-shadow: 20px 25px 7px #1e1e1e, 0px 0px 5px black inset;
  border-radius: calc(0.5 * var(--viewport-width));
  border-bottom-right-radius: calc(3 * var(--viewport-width));
}

.console-shell-relative{
  display: flex;
  flex-direction: column;
  /*gap: 2rem;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  position: relative;
  width: 100%;
  height: 100%;
}

.console-screen-border{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #474c52;
  border-radius: calc(0.5 * var(--viewport-width));
  border-bottom-right-radius: calc(3 * var(--viewport-width));
  box-shadow: 0px 0px 5px #101010 inset;
}

.buttons {
  position: relative;
  flex: 1.2;
  width: 100%;
  height: 100%;
}

.black-screen {
  z-index: 999;
  background-color: #49524f;
  width: 62%;
  height: 75%;
  box-shadow: 0px 0px 5px black inset;
}

.black-screen-hidden {
  display: none;
}

.boot-screen {
  display: flex;
  flex-direction: column;
  background-color: #bfd2ff;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 2px black;
  text-align: center;
  justify-content: center;
  justify-content: flex-start;
  animation: fadeinOn 3s linear forwards;
}

.boot-screen-hidden {
  display: none;
}

.scrolling-brand {
  width: 100%;
  height: 100%;
  animation: scrollY 3s linear forwards, fadeoutDelayed 3s linear 3s forwards;
  font-family: "Press Start 2P", sans-serif;
  font-size: calc(0.8 * var(--viewport-width));
  color: #081820;
}

.registered {
  vertical-align: bottom;
  font-size: calc(0.6 * var(--viewport-width));
  line-height: calc(3 * var(--viewport-height));
}

.console-brand {
  position: absolute;
  top: calc(0.5 * var(--viewport-height));
  left: calc(-0.1 * var(--viewport-width));
  font-size: calc(0.9 * var(--viewport-width));
  color: #1f1e39;
  font-family: 'gill-sans-bold';
}

.console-brand span {
  font-size: calc(1.4 * var(--viewport-width));
}

.console-brand .trademark{
  vertical-align: bottom;
  font-size: calc(0.5 * var(--viewport-width));
  line-height: calc(1.2 * var(--viewport-height));
}

.console-menu {
  position: relative;
  background-color: #bfd2ff;
  color: #081820;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 2px black;
  animation: fadein 1s linear forwards;
}

.console-menu.off {
  animation: fadeoutOff .2s linear forwards;
}

.console-menu-hidden {
  display: none;
}

.console-battery {
  position: absolute;
  width: calc(1.4 * var(--viewport-width));
  height: calc(4 * var(--viewport-height));
  top: calc(0.1 * var(--viewport-height));
  right: calc(0.5 * var(--viewport-width));
}

.console-battery-warning {
  position: absolute;
  width: calc(1.4 * var(--viewport-width));
  height: calc(4 * var(--viewport-height));
  top: calc(0.1 * var(--viewport-height));
  right: calc(0.5 * var(--viewport-width));
  color: darkred;
  -webkit-animation: warning-blink 1s infinite;
}

.boot-button-container{
  position: absolute;
  top: calc(22 * var(--viewport-height));
  left: calc(8.3 * var(--viewport-width));
  transform: rotate(-25deg);
  padding: calc(0.2 * var(--viewport-width));
  border-radius: calc(2 * var(--viewport-width));
  box-shadow: 0px 5px 5px #666 inset;
}

.on-off-button {
  width: calc(2.2 * var(--viewport-width));
  height: calc(1.3 * var(--viewport-height));
  box-shadow: 0px 0px 4px black inset;
  border-radius: calc(0.5 * var(--viewport-width));
  background-color: #86848b;
  color: #1e1e1e;
}
.on-off-button.highlighted {
  animation: buttonHighlighted 1s 3;
}

.on-off-button:hover {
  cursor: pointer;
}

.on-off-text {
  position: absolute;
  transform: rotate(-25deg);
  top: calc(24 * var(--viewport-height));
  left: calc(9 * var(--viewport-width));
  font-family: "gill-sans-bold";
  font-size: calc(0.55 * var(--viewport-width));
  color: #1f1e39;
}

.joystick {
  position: absolute;
  left: 0%;
  top: 23%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: calc(6.5 * var(--viewport-width));
  height: calc(6.5  * var(--viewport-width));
  box-shadow: 5px 10px 10px #999 inset;
  border-radius: 100%;
}

.triangle-left.highlighted,
.triangle-right.highlighted,
.triangle-top.highlighted,
.triangle-bottom.highlighted {
  animation: triangleHighlighted 1s 3;
}

.triangle {
  position: absolute;
  width: calc(1.7 * var(--viewport-width));
  height: calc(1.7  * var(--viewport-width));
  background-color: #121212;
}

.triangle:hover {
  cursor: pointer;
}

.triangle-left {
  transform: translateX(calc(-1.66 * var(--viewport-width)));
}

.triangle-right {
  transform: translateX(calc(1.66 * var(--viewport-width)));
}

.triangle-top {
  transform: translateY(calc(-1.66 * var(--viewport-width)));
}

.triangle-bottom {
  transform: translateY(calc(1.66 * var(--viewport-width)));
}

.circle {
  width: calc(1.7 * var(--viewport-width));
  height: calc(1.7 * var(--viewport-width));
  background-color: #121212;
}

.console-buttons {
  position: absolute;
  right: 0%;
  top: 31%;
  display: flex;
  flex-direction: row;
  gap: calc(1 * var(--viewport-width));
  transform: rotate(-25deg);
  box-shadow: 0px 10px 10px #999 inset;
  border-radius: calc(2 * var(--viewport-width));
  padding: calc(0.4 * var(--viewport-width));
}

.console-button {
  position: relative;
  width: calc(2.5 * var(--viewport-width));
  height: calc(2.5 * var(--viewport-width));
  background-color: #5c203c;
  border-radius: 100%;
  box-shadow: -1px 6px 5px #222;
}

.console-button.highlighted {
    animation: buttonBHighlighted 1s 3;
}

.console-buttons span {
  color: #1f1e39;
  font-family: "gill-sans-bold";
  font-size: calc(0.9 * var(--viewport-width));
}

.console-button:hover {
  cursor: pointer;
}

.button-a {
  position: absolute;
  right: 20%;
  top: 110%;
}

.button-b {
  position: absolute;
  right: 70%;
  top: 110%;
}

.menu-button-container {
  position: absolute;
  top: calc(22 * var(--viewport-height));
  left: calc(5.5 * var(--viewport-width));
  transform: rotate(-25deg);
  padding: calc(0.2 * var(--viewport-width));
  border-radius: calc(2 * var(--viewport-width));
  box-shadow: 0px 5px 5px #666 inset;
}

.menu-button {
  width: calc(2.2 * var(--viewport-width));
  height: calc(1.3 * var(--viewport-height));
  background-color: #86848b;
  color: #1e1e1e;
  border-radius: calc(0.5 * var(--viewport-width));
  box-shadow: 0px 0px 4px black inset;
}

.menu-button.highlighted {
  animation: buttonHighlighted 1s 3;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-text {
  position: absolute;
  transform: rotate(-25deg);
  top: calc(24 * var(--viewport-height));
  left: calc(6.3 * var(--viewport-width));
  font-family: "gill-sans-bold";
  font-size: calc(0.55 * var(--viewport-width));
  color: #1f1e39;
}

/*****Footer*****/
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: calc(1 * var(--viewport-height));
  height: calc(10 * var(--viewport-height));
  text-align: center;
}

.bottom-right-frame {
  position: absolute;
  width: calc(8 * var(--viewport-width));
  height: calc(8 * var(--viewport-height));
  right: calc(5 * var(--viewport-width));
  bottom: calc(2 * var(--viewport-height));
}

.footer p {
  font-size: calc(0.9 * var(--viewport-width));
}

/*****Animation*****/
@-webkit-keyframes warning-blink {
  0% {color: transparent}
  50% {color: darkred}
  100% {color: transparent}
}

@keyframes scrollY {
  from {
    top: translateY(0%);
  }
  to {
    transform: translateY(40%);
  }
}

@keyframes fadein {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes fadeinOn {
  0% {opacity: 0}
  20% {opacity: 1}
  100% {opacity: 1}
}

@keyframes fadeoutOff {
  0% {opacity: 1}
  100% {opacity: 0}
}

@keyframes fadeoutDelayed {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 0}
}

@keyframes buttonHighlighted {
  0% {transform: scale(1.0)}
  100% {transform: scale(1.1); filter: drop-shadow(0px 0px 10px white); background-color: rgba(200, 200, 200)}
}

@keyframes buttonBHighlighted {
  0% {transform: scale(1.0)}
  100% {transform: scale(1.1); filter: drop-shadow(0px 0px 10px white); background-color: #802d54}
}

@keyframes triangleHighlighted {
  100% {filter: drop-shadow(0px 0px 1px #999); background-color: #2e2e2e}
}

@keyframes rotateFront {
    0% {
      transform: rotateY(90deg);
    }
    100% {
      transform: rotateY(0deg);
    }
}

@keyframes rotateBack {
    0% {
      transform: rotateY(270deg);
    }
    100% {
      transform: rotateY(180deg);
    }
}

@keyframes reduce {
    100% { width: 0%;}
}

@keyframes slide {
    100% { top: 0; }
}

/********************RESPONSIVENESS******************************/

@media screen and (min-width: 600px) and (max-width: 1367px) and (min-height: 600px) and (max-height: 800px) {
  .console {
    padding: 0 calc(6 * var(--viewport-width));
  }

  .card-container {
      margin-top: calc(19 * var(--viewport-width));
  }

  .console-shell{
    width: calc(22 * var(--viewport-width));
    height: calc(37 * var(--viewport-width));
  }

  .console-battery {
    height: calc(3 * var(--viewport-height));
  }

  .console-battery-warning {
    height: calc(3 * var(--viewport-height));
  }

  .boot-button-container{
    /*top: calc(17 * var(--viewport-height));
    left: calc(8.5 * var(--viewport-width));*/
    top: 70%;
    left: 45%;
  }

  .on-off-button {
    height: calc(1 * var(--viewport-height));
  }

  .on-off-text {
    /*top: calc(18.5 * var(--viewport-height));
    left: calc(9.2 * var(--viewport-width));*/
    top: 76%;
    left: 49%;
  }

  .joystick {
    left: 2%;
    top: 25%;
  }

  .console-buttons {
    right: 2%;
    top: 31%;
  }

  .menu-button-container {
    /*top: calc(17 * var(--viewport-height));
    left: calc(5.8 * var(--viewport-width));*/
    top: 70%;
    left: 31%;
  }

  .menu-button {
    height: calc(1 * var(--viewport-height));
  }

  .menu-text {
    /*top: calc(18.5 * var(--viewport-height));
    left: calc(6.6 * var(--viewport-width));*/
    top: 76%;
    left: 35.5%;
  }
}

@media screen and (min-width: 320px) and (max-width: 1080px) and (orientation: portrait) {
  :root {
    --viewport-width: 1vh;
    --viewport-height: 1vw;
  }

  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: calc(100 * var(--viewport-width));
    height: calc(100 * var(--viewport-height));
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .page {
    /*border: 1px yellow solid;*/
  }
}
