@font-face {
  font-family: '8bitoperator';
  src: local('8bitoperator'), url(./assets/8bitoperator_jve.woff) format('woff');
}

:root {
  --viewport-width: 1vw;
  --viewport-height: 1vh;
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  font-size: calc(1.2 * var(--viewport-width));
  font-family: "8bitoperator";
  color: #081820;
}

.item {
  position: relative;
  width: calc(6 * var(--viewport-width));
  margin: calc(0.1 * var(--viewport-width));
  padding: calc(0.1 * var(--viewport-width));
}

.item.active {
  font-size: calc(1.5 * var(--viewport-width));
}

.item:hover {
  cursor: pointer;
}

.selector {
  position: absolute;
  top: calc(0.3 * var(--viewport-height));
  left: calc(-1.5 * var(--viewport-width));
  width: calc(1.2 * var(--viewport-width));
  height: calc(1.2 * var(--viewport-width));
  -webkit-animation: blink 0.8s infinite;

}

.selector-hidden {
  display: none;
}

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 calc(0.8 * var(--viewport-width));
  position: relative;
  font-family: "8bitoperator";
  color: #081820;
}

.about-content {
  font-size: calc(0.55 * var(--viewport-width));
  line-height: calc(0.6 * var(--viewport-width));
  margin-top: calc(2 * var(--viewport-width));
}

.exit-arrow {
  position: absolute;
  width: calc(2 * var(--viewport-width));
  height: calc(2 * var(--viewport-width));
  top: calc(0.1* var(--viewport-width));
  left: calc(0.5 * var(--viewport-width));
}

.exit-arrow:hover {
  cursor: pointer;
}

.projects {
  width: 100%;
  height: 100%;
  font-family: "8bitoperator";
  font-size: calc(0.45 * var(--viewport-width));
  line-height: calc(0.55 * var(--viewport-width));
}

.project-name, .project-description {
  color: #081820;
}

.project-name {
  position: absolute;
  font-size: calc(0.6 * var(--viewport-width));
  top: calc(1.5 * var(--viewport-width));
  left: calc(4.3 * var(--viewport-width));
}

.project-name-hidden, .project-description-hidden  {
  display: none;
}

.project-description {
  position: absolute;
  top: calc(2.5 * var(--viewport-width));
  left: calc(1 * var(--viewport-width));
  width: calc(9.5 * var(--viewport-width));
}

.see-details {
  position: absolute;
  bottom: calc(2 * var(--viewport-height));
  left: calc(0.9 * var(--viewport-width));
  font-family: "8bitoperator";
  color: #3d74ff;
  font-size: calc(0.4 * var(--viewport-width));
  background-color: #e0e0e0;
  padding: calc(0.2 * var(--viewport-width));
  border-radius: calc(0.75 * var(--viewport-width));
}

.current-date {
  position: absolute;
  top: calc(0.4 * var(--viewport-width));
  left: calc(0.5 * var(--viewport-width));
  font-family: "8bitoperator";
}

/********************Animations******************************/
@-webkit-keyframes blink {
  0% {color: transparent}
  50% {color: #081820;}
  100% {color: transparent}
}


/********************RESPONSIVENESS******************************/

@media screen and (min-width: 320px) and (max-width: 1080px) and (orientation: portrait) {
  :root {
    --viewport-width: 1vh;
    --viewport-height: 1vw;
  }
}
